-
    const randomDate = (start, end) => new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()))

- const title = 'Blog'
- const loggedin = false
- const pagenavoff = "Blog"
- const slide = slides[0]
doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="assets/css/swiper-bundle.min.css")
        include ../layouts/_head

    body 
        include ../layouts/_header
        include ../layouts/_loginmodal
        include ../layouts/_pagenav


        main.main.blogmain.container
            article.blogmain__article
                h1.blogmain__title=slide.title
                time.blogmain__time=randomDate(new Date(2012, 0, 1), new Date()).toLocaleDateString().replaceAll('/', '.')
                .blogmain__imgbox
                    img(src="http://dsm.ge/uploads/News/673601644327600.jpg", alt=slide.title)
                .blogmain__textcontent.default-ul
                    p ცნობილი ფაქტია, რომ გვერდის წაკითხვად შიგთავსს შეუძლია მკითხველის ყურადღება მიიზიდოს და დიზაინის აღქმაში ხელი შეუშალოს. Lorem Ipsum-ის გამოყენებით ვღებულობთ იმაზე მეტ-ნაკლებად სწორი გადანაწილების ტექსტს, ვიდრე ერთიდაიგივე გამეორებადი სიტყვებია ხოლმე. შედეგად, ტექსტი ჩვეულებრივ ინგლისურს გავს, მისი წაითხვა კი შეუძლებელია.

                    h2='საიდან მოდის ეს კონტენტი?'
                    h3='საიდან მოდის ეს კონტენტი?'

                    p დღეს უამრავი პერსონალური საგამომცემლო პროგრამა და ვებგვერდი იყენებს Lorem Ipsum-ს, როგორც დროებით ტექსტს წყობის შესავსებად; Lorem Ipsum-ის მოძებნისას კი საძიებო სისტემები ბევრ დაუსრულებელ გვერდს გვიჩვენებენ. წლების მანძილზე ამ ტექსტის უამრავი ვერსია გამოჩნდა, ზოგი შემთხვევით დაშვებული შეცდომის გამო, ზოგი კი — განზრახ, ხუმრობით.

        include ../layouts/_basket
        include ../layouts/_footer

        include ../layouts/_respomenu

        include ../layouts/_scripts